.btn:hover {
  border: 2px solid #fff;
  color: #fff;
  background: #006622;
}

#dollar {
  font-size: 1.5em;
}

.card {
  animation-name: dropdown;
  animation-duration: 1.5s;
  animation-fill-mode: forwards;
  position: relative;
}

.dealt-cards {
  display: flex;
  justify-content: center;
}

.dealt-cards div {
  margin: 0 1rem;
}

#split-hands {
  display: flex;
  justify-content: center;
}

.splt {
  display: flex;
  flex-direction: column;
  width: 70px;
  margin: -35px 16px;
}

.splt > div {
  margin: -40px 0;
}
